name: CI

on:
    pull_request:

jobs:
  release-please:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      tag_name: ${{ steps.release.outputs.tag_name }}
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: maven
          
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Set up JDK 11
          uses: actions/setup-java@v4
          with:
            java-version: '11'
            distribution: 'temurin'
            cache: 'maven'
        
        - name: Test
          run: mvn test
        
        - name: Build with Maven
          run: |
           mvn -B -P github package -file pom.xml
