name: CI

on:
    # pull_request:
    push:

jobs:     
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: Set up JDK 11
          uses: actions/setup-java@v4
          with:
            java-version: '11'
            distribution: 'temurin'
            cache: 'maven'
        
        - name: Test
          run: mvn test
          
        - name: build with Maven
          uses: ./.github/workflows/maven_build.yml@feat/test
        
        # - name: Build with Maven
        #   run: |
        #   mvn -B -P github package -file pom.xml
